{% extends "panel/base.html" %}

{% block tab%}Detalle Galeria{% endblock %}

{% block content %}

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sobre nosotros</h1>
        <p class="lead text-muted">Esta web esta desarrollada por 3 integrantes: Agustina, Martin y Johan.</p>
        <p class="lead text-muted">Somos estudiantes de CoderHouse y estamos creando una web funcional para el proyecto final.</p>
        <img src="../../static/img/los_3.jpg" style="width: 500px ;">
      </div>
    </div>
    
 
  <main class="flex-shrink-0" style="position: absolute; left: 60%" >
   
      <div style="padding-top: 3em;">
        <h1 class="fw-light">¿Quienes somos?</h1>
        <p class="col-lg-6 col-md-8 mx-auto lead text-muted"style="position: relative; right :25%;">Grupo de 3 estudiantes del curso de Python de Coderhouse</p>
      </div>

      <div style="padding-top: 3em;">
        <h1 class="fw-light">Agustina Bubich</h1>
        <p class="col-lg-6 col-md-8 mx-auto lead text-muted" style="position: relative; right :25%;">Grupo de 3 estudiantes del curso de Python de Coderhouse</p>
      </div>

      <div style="padding-top: 3em;">
        <h1 class="fw-light">Martin Maddalena</h1>
        <p class="col-lg-6 col-md-8 mx-auto lead text-muted" style="position: relative; right :25%;">Grupo de 3 estudiantes del curso de Python de Coderhouse</p>
      </div>

      <div style="padding-top: 3em;">
        <h1 class="fw-light">Johan Romero</h1>
        <p class="col-lg-6 col-md-8 mx-auto lead text-muted" style="position: relative; right :25%;">Tengo 22 años, soy de Buenos Aires, 
           ademas de esta cursada estoy estudiando en Digital House en la 
           carrera de Certified Tech Developer</p>
      </div>
   
  </main>
{% endblock %}




